streamlit
opencv-python
numpy
pandas
plotly
matplotlib
seaborn
scikit-learn
tensorflow
keras
boto3
requests
google-generativeai
PyYAML
Pillow
folium
streamlit-folium
twilio
imapclient
email-validator
langchain
langchain-google-genai
tqdm
langchain_groq
langchain_community
groq
cvzone
psutil
beautifulsoup4
pywhatkit
google
tweepy
instabot
facebook-sdk
docker
